<div class="celebrities-container">

  <h2>List of celebrities</h2>

  <div class="celebrities-list">
    {{#each this.allCelebrities}}
      <a href="/celebrities/{{this._id}}/celebrity-details"><h4
        >{{this.name}}</h4></a>
    {{/each}}
  </div>

</div>