<div class="container mt-5">
    <h2 class="text-center">Update Celebrity</h2>
    <form class="mt-3" action="/celebrities/{{celebrity._id}}/edit-celebrity" method="post">
        <label class="form-label mt-3" for="name">Name: </label>
        <input class="form-control" type="text" name="name" value="{{celebrity.name}}">
        
        <label class="form-label mt-3" for="occupation">Occupation: </label>
        <input class="form-control" type="text" name="occupation" value="{{celebrity.occupation}}">
        
        <label class="form-label mt-3" for="catchPhrase">Frase Distintiva: </label>
        <input class="form-control" type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
        
        <button class="mt-3 btn btn-success btn-lg">Update</button>
    </form>
</div>