<div class="container mt-5">
    <h2 class="text-center">Create Celebrity</h2>
    <form class="mb-3" action="/celebrities/create" method="post">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" name="name">
        <br>
        <label class="form-label" for="occupation">Occupation:</label>
        <input class="form-control" type="text" name="occupation">
        <br>
        <label class="form-label" for="catchPhrase">Catch Phrase</label>
        <input class="form-control" type="text" name="catchPhrase">
        <br>
        <button class="btn btn-success btn-lg">Create</button>
    </form>
</div>