<div>
    <h1>List of Movies</h1>

    <div>
        <ul>
             {{#each this.movies}}
        <li>
            <a href="/movies/{{this._id}}">Title: {{this.title}}</a>   
        </li>
        {{/each}}
        </ul>
    </div>
</div>